#Contacto {
    height: 720px;
	padding-top: 2rem;
	background-color: #FFE1D9;
}

h2 {
	text-align: center;
	color: #BF4F4F;
    
}

#Contacto p {
	font-family: 'Roboto', sans-serif;
	color: #BF4F4F;
	font-size: 20px;
    padding: 30px 100px 30px 100px
}